extends layout

block content
  div(style="background-image: url('../images/DSC_3148のコピー2.jpg')").ly_jumbotoron
   div.ly_jumbotoron_inner
    div.ly_jumbotoron_inner_title 予定作成機能
    br
    div.ly_jumbotoron_inner_cont 予定作成機能により、いつか行ってみたいと思っているところを整理することができます
  h1= title
  p Welcome to #{title}
  div
    a(href="/auth/github") githubでログイン
  