extends layout

block content
  if user 
    div.ly_subHeader.ly_subHeader_form
     div.loginInfo
      div 現在 #{user.username} でログイン中です
      a(href="/logout")
        span ログアウト
     div.ly_ancor
        ul
          li
            a(href="/list")
             span 予定一覧へ
          li
            a(href="/diary/new") 
             span 日記を作る
          li
            a(href="/users") 
             span 日記一覧へ
          li
            a(href="/share") 
             span 公開日記
  div.ly_listForm
    div.bl_listFrom
      div.bl_listForm_title 予定作成フォーム
      div
        form(action='/list/create' method='post' encType="multipart/form-data")
         input(type="hidden" name="_csrf" value!=csrfToken)
         div
          span タイトル (文字数制限：18文字) :　
          input(type="text" name="listName" class="el_textForm")
          br
          span 所在地 :　
          input(type="text", name="listPlace" class="el_textForm")
          br 
          span.bl_listForm_pict 写真 :　
          input(type="file", name="listPict")
          br
          each listComment in listComments
           span.bl_listForm_todo やりたいこと その#{listComment}
           br
           input(type="text", name=`listCommentTitle${listComment}` class="el_textForm el_textForm__subTitle")
           br
           span 詳細 :
           br
           textarea(name=`listCommentCont${listComment}`, cols="50", rows="3" class="el_textarea")
           br
         button(type="submit" class="el_submitButton") 提出